#IntelliJ project settings
.idea
*.iml

# node packages
node_modules

# bower packages
app/bower_components

# distribution file (after calling `grunt build`)
dist

# documentation (after calling `grunt ngdocs`)
docs

# temporary files prodiced during build
.tmp
.sass-cache

# temporary testing folders
test-results
coverage

# temporary editor files
*~
