

/**
  Colors
*************************************/

$yellow: #FEC444;
$red: #FA2070;
$green: #3DCA6A;
$blue: #1CACDE;
$gray: #666666;
$yellow-light: lighten($yellow, 20%);
$red-light: lighten($red, 20%);
$green-light: lighten($green, 20%);
$blue-light: lighten($blue, 20%);
$gray-light: lighten($gray, 20%);


body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arvo', serif;
}

/**
  Share Popup
*************************************/

div.sharerow {
  padding: 15px;
  margin-top: 20px;
}
div.sharebox {
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 120px;
  width: 300px;
  height: 400px;
  background-color: #E0E0E0;
  z-index:9999;
  border-radius: 4px;
}
div.sharerow > input[type=text] {
  width: 250px;
  margin-top: 10px;
}
#fbbutton {
  background-color: #3b5998;
  color: white;
}
#twitterbutton {
  background-color: white;
  color: #55ACEE;
}


/**
  Options UI
*************************************/

div.optionsuirows {
  padding: 15px;
  margin-top: 30px;
}

div.optionsuirows, input[type=text] {
    margin-top: 5px;
}

div.optionsuirows, select {
    margin-left: 5px;
}


/**
  Input View
*************************************/

div.inputrow {
  padding: 15px;
.ace-tm .ace_marker-layer .ace_active-line {
  background: transparent;
}
  margin-top: 30px;
}
div.inputbox {
  padding: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    background-color: #C0C0C0;
}



/**
  Embed View
*************************************/

div.embedview {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  padding: 0;
  clear: both;
}

ul.embedview {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.embedview {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
.embedview .active {
    background-color: #FFF;
    color: #000;
}



/**
  Ace Editor
*************************************/

.ace_editor {
  height: 100%;
}


/**
  UI.Layout CSS
*************************************/
.stretch {
//  overflow: hidden;
}






* {
  box-sizing: border-box;
}

/// Elements

//.btn {
//  display: inline-block;
//  padding: 6px 12px;
//  margin-bottom: 0;
//  font-weight: 400;
//  line-height: 1.42857143;
//  text-align: center;
//  white-space: nowrap;
//  vertical-align: middle;
//  -ms-touch-action: manipulation;
//  touch-action: manipulation;
//  cursor: pointer;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  background-image: none;
//  border: 1px solid transparent;
//  border-radius: 4px;
//  background-color: #C0C0C0;
//}
//
//.btn-primary {
//  color: #fff;
//  background-color: #337ab7;
//  border-color: #2e6da4;
//}

.btn {
  display: inline-block;
  position: relative;
  height: 2em;
  line-height: 2em;
  padding: 0 1em;
  outline: 0;
  color: $gray-light;
  background: rgba(0,0,0,0);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $gray-light;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  border-radius: 999em;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;

  transition: 100ms background-color,100ms border-color,100ms color;
}
.btn:hover {
  color: $gray;
  border-color: $gray;
}

.btn--primary {
  color: $green-light;
  border-color: $green-light;
}
.btn--primary:hover {
  background: rgba(0,0,0,0);
  border-color: $green;
  color: $green;
}

.btn--big {
  font-size: 200%;
}

.input {
  display: inline-block;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.right {
  float: right;
}

.left {
  float: left;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 5px;
}

.header {
  .btn {
    margin: 7px;
  }
  .link {
    line-height: 3;
    color: steelblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .input-title {
    margin-left: 100px;
    margin-top: 7px;
  }

  .input-author {
    margin-left: 5px;
    margin-top: 7px;
  }
}

.header-logo {
  text-decoration: none;
  color: black;
  margin-top: 4px;
  margin-left: 9px;
  margin-right: 9px;
  background-image: url('../images/logo.png');
  background-size: contain;
  height: 40px;
  width: 40px;

  h1 {
    display: inline;
  }
}

angularchart {
  height: 95%;
  width: 95%;
  margin: auto;
}


/**
 Layout
 */
html, body, .content {
  height: 100%;
  margin: 0;
}
.content {
  max-width: 1300px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.content-left {
  float: left;
  width: 80%;
  height: 100%;
  padding-right: 20px;
}
.content-right {
  float: right;
  width: 20%;
  height: 100%;
}
.chartArea {
  position: relative;
  height: 50%;
}
.angularchart {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}
.optionsArea {
  padding-left: 20px;
  border-left: 2px solid $gray-light;
  height: 100%;
}
.dataArea {
  height: 50%;
  padding-top: 20px;
  border-top: 2px solid $gray-light;
  position: relative;
}
.showConfig {
  position: absolute;
  bottom: 40px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}




@import "components/tree/tree";
