<div ui-layout>
    <div ui-layout-container class="header" size="50px" max-size="50px" min-size="50px" >
        <a href ui-sref="editor" class="header-logo left">
            <h1>grafiddle</h1>
        </a>
        <button type="button" class="btn left">Fork</button>
        <button type="button" class="btn left" ng-click="save()">Save</button>
        <button type="button" class="btn btn-primary left">Share</button>
        <button type="button" class="btn right">Login</button>
        <button type="button" class="btn btn-primary right">Sign Up</button>
    </div>

    <div ui-layout-container class="chartArea" id="chartArea">
        <angularchart
            dataset="checkpoint.dataset"
            schema="checkpoint.schema"
            options="checkpoint.options">
        </angularchart>
    </div>

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >

            <div ui-layout-container class="dataArea">
                <div style="position: absolute; top: 10px; right: 10px; z-index: 999;">
                    <button class="btn" ng-click="toggleDataEditor()">{{switchButtonTitle}}</button>
                </div>
                <div ng-hide="showDataEditor" id="inputbox">
                    <div class="inputrow">
                        Upload a JSON file: <input type="file" on-read-file="uploadFile($fileContent)"><br/>
                    </div>
                    <div class="inputrow">
                        Enter URL to JSON data: <input type="text" ng-model="dataURL"> <button class="btn" ng-click="loadfromURL()">Get!</button>
                    </div>
                    <div class="inputrow">
                        Enter JSON data manually in the editor. <button class="btn" ng-click="toggleInputEditor()">Switch to editor</button>
                    </div>
                </div>

                <div ng-show="showDataEditor" ng-model="checkpoint.datasetString" ui-ace="aceJsonConfig"></div>
            </div>

            <div ui-layout-container class="optionsArea">
                <div ng-model="checkpoint.optionsString" ui-ace="aceJsonConfig"></div>
            </div>

        </div>
    </div>

</div>