<div ui-layout>

    <!-- header -->
    <div ui-layout-container class="header" size="50px" max-size="50px" min-size="50px" >

        <!-- logo -->
        <a href ui-sref="editor" class="header-logo left" title="grafiddle"></a>

        <!-- save / fork -->
        <button type="button" class="btn left" ng-show="serverCheckpoint" ng-click="save()">Fork</button>
        <button type="button" class="btn left" ng-show="!serverCheckpoint" ng-click="save()">Save</button>

        <!-- share -->
        <button type="button" class="btn btn-primary left" ng-show="serverCheckpoint" ng-click="sharePopup()">Share</button>

        <!-- tree -->
        <a href ui-sref="tree({id: serverCheckpoint.id})" ng-show="serverCheckpoint" class="link left" >See Revisions</a>

        <!-- login -->
        <button type="button" class="btn btn-primary right">Sign in / Sign up</button>
    </div>

    <!-- share popup -->
    <div ng-show="showSharePopup" class="sharebox">
        <div class="sharerow">Direct link to this grafiddle:<br /><input ng-click="onShareTextClick($event)" type="text" ng-model="fiddleURL"></div>
        <div class="sharerow">This grafiddle chart as a PNG:<br /><input ng-click="onShareTextClick($event)" type="text" ng-model="fiddleChartURL"></div>
        <div class="sharerow">Embed this grafiddle:<br /><input ng-click="onShareTextClick($event)" type="text" ng-model="fiddleEmbedCode"></div>
        <div class="sharerow">
            <button type="button" id="fbbutton" class="btn" ng-click="share('FB')">Facebook</button>
            <button type="button" id="twitterbutton" class="btn" ng-click="share('Twitter')">Twitter</button>
            <button type="button" class="btn" ng-click="share('E-Mail')">E-Mail</button>
        </div>
    </div>


    <!-- the chart -->
    <div ui-layout-container class="chartArea" id="chartArea" size="60%">
        <!-- angular-chart directive -->
        <angular-chart
            class="angularchart"
            options="checkpoint.options">
        </angular-chart>

        <!-- for image rendering -->
        <canvas id="canvas" style="display: none"></canvas>
    </div>


    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >

            <!-- edit data -->
            <div ui-layout-container class="dataArea">
                <div style="position: absolute; top: 10px; right: 10px; z-index: 999;">
                    <button class="btn btn-primary" style="opacity: 0.85;" ng-click="toggleDataEditor()">{{switchDataButtonTitle}}</button>
                </div>
                <div ng-hide="showDataEditor" class="inputbox">
                    <div class="inputrow">
                        Upload a JSON file: <span class="btn btn-file">browse…<input type="file" on-read-file="uploadFile($fileContent)"><br/></span>
                    </div>
                    <div class="inputrow">
                        Enter URL to JSON data: <input type="text" ng-model="dataURL"> <button class="btn" ng-click="loadfromURL()">Get!</button>
                    </div>
                    <div class="inputrow">
                        Enter JSON data manually in the editor. <button class="btn" ng-click="toggleDataEditor()">Switch to editor</button>
                    </div>
                </div>

                <div ng-show="showDataEditor" ng-model="checkpoint.dataString" ui-ace="aceJsonConfig"></div>
            </div>

            <!-- edit options -->
            <div ui-layout-container class="optionsArea">
                <div ng-model="checkpoint.optionsString" ui-ace="aceJsonConfig"></div>
            </div>

        </div>
    </div>

</div>