<div ui-layout>
    <div ui-layout-container class="header" size="50px" max-size="50px" min-size="50px" >
        <a href ui-sref="editor" class="header-logo left">
            <h1>grafiddle</h1>
        </a>
        <button type="button" class="btn left">Fork</button>
        <button type="button" class="btn btn-primary left">Share</button>
        <button type="button" class="btn right">Login</button>
        <button type="button" class="btn btn-primary right">Sign Up</button>
    </div>

    <div ui-layout-container class="chartArea" >
        <angularchart
            dataset="dataset"
            schema="schema"
            options="options">
        </angularchart>
    </div>

    <div ui-layout-container>
        <div ui-layout="{flow : 'column'}" >
            <div ui-layout-container class="dataArea">
                <div style="position: absolute; top: 10px; right: 10px; z-index: 999;"><button ng-click="toggleInputEditor()">{{SwitchButtonTitle}}</button></div>
                <div ng-hide="dataInputHidden">
                    <div>
                        <input type="file" on-read-file="displayFileContents(contents)" /><br/>
                    </div>
                    <div>
                        Enter URL to your data: <input type="text" ng-model="dataURL"> <button ng-click="loadfromURL()">Get!</button>
                    </div>
                    <div>
                        Manual data entry? <button ng-click="toggleInputEditor()">Go to editor!</button>
                    </div>
                </div>

                <div ng-hide="dataEditorHidden" ng-model="datasetString" ui-ace="datasetAceConfig"></div>
            </div>
            <div ui-layout-container class="optionsArea">
                <div ng-model="optionsString" ui-ace="optionsAceConfig"></div>
            </div>
        </div>
    </div>

</div>