<div ui-layout>
    <div>
        <ul class="embedview">
                <li ng-class="{active: embedView === 'chart'}" class="embedview" ng-click="setView('chart')"><span>Graph</span></li>
                <li ng-class="{active: embedView === 'data'}" class="embedview" ng-click="setView('data')"><span>Data</span></li>
                <li ng-class="{active: embedView === 'options'}" class="embedview" ng-click="setView('options')"><span>Options</span></li>
        </ul>
        <div style="float: right;">
            <a href ui-sref="editor({id: serverCheckpoint.id})" style="font-size: small;">Edit in grafiddle</a></div>
    </div>

    <div ng-show="embedView === 'chart'" class="embedview">
        <angular-chart
            class="angularchart"
            options="checkpoint.options">
        </angular-chart>
    </div>

    <div ng-if="embedView === 'options'" class="embedview">
        <div ng-model="checkpoint.optionsString" ui-ace="aceJsonConfig"></div>
    </div>

    <div ng-if="embedView === 'data'" class="embedview">
        <div ng-model="checkpoint.dataString" ui-ace="aceJsonConfig"></div>
    </div>

</div>