





/**
  Ace Editor
*************************************/

.ace_editor {
  height: 100%;
}


/**
  UI.Layout CSS
*************************************/
.stretch {
//  overflow: hidden;
}






* {
  box-sizing: border-box;
}

/// Elements

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
  .btn {
    margin: 7px;
  }
}

.header-logo {
  text-decoration: none;
  color: black;
  margin-top: 4px;
  margin-left: 9px;
  margin-right: 9px;

  h1 {
    display: inline;
  }
}

angularchart {
  height: 95%;
  width: 95%;
  margin: auto;
}

.optionsArea, .dataArea {
  border: solid 1px gray;
}







