
body {
  margin: 0;
}




/**
  Share Popup
*************************************/

div.sharerow {
  padding: 15px;
  margin-top: 20px;
}
div.sharebox {
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 120px;
  width: 300px;
  height: 400px;
  background-color: #E0E0E0;
  z-index:9999;
  border-radius: 4px;
}
div.sharerow > input[type=text] {
  width: 250px;
  margin-top: 10px;
}
#fbbutton {
  background-color: #3b5998;
  color: white;
}
#twitterbutton {
  background-color: white;
  color: #55ACEE;
}


/**
  Options UI
*************************************/

div.optionsuirows {
  padding: 15px;
  margin-top: 30px;
}

div.optionsuirows, input[type=text] {
    margin-top: 5px;
}

div.optionsuirows, select {
    margin-left: 5px;
}


/**
  Input View
*************************************/

div.inputrow {
  padding: 15px;
.ace-tm .ace_marker-layer .ace_active-line {
  background: transparent;
}
  margin-top: 30px;
}
div.inputbox {
  padding: 10px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    background-color: #C0C0C0;
}



/**
  Embed View
*************************************/

div.embedview {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  padding: 0;
  clear: both;
}

ul.embedview {
    list-style: none;
    padding: 0;
    margin: 0;
}
li.embedview {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
.embedview .active {
    background-color: #FFF;
    color: #000;
}



/**
  Ace Editor
*************************************/

.ace_editor {
  height: 100%;
}


/**
  UI.Layout CSS
*************************************/
.stretch {
//  overflow: hidden;
}






* {
  box-sizing: border-box;
}

/// Elements

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #C0C0C0;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.input {
  display: inline-block;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.right {
  float: right;
}

.left {
  float: left;
}


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
  .btn {
    margin: 7px;
  }
  .link {
    line-height: 3;
    color: steelblue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .input-title {
    margin-left: 100px;
    margin-top: 7px;
  }

  .input-author {
    margin-left: 5px;
    margin-top: 7px;
  }
}

.header-logo {
  text-decoration: none;
  color: black;
  margin-top: 4px;
  margin-left: 9px;
  margin-right: 9px;

  h1 {
    display: inline;
  }
}

angularchart {
  height: 95%;
  width: 95%;
  margin: auto;
}

.optionsArea, .dataArea {
  border: solid 1px gray;
}







@import "components/tree/tree";